@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background-image: url("img/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-size: 18pt;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  font-weight: bold;
}


.game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.play img {
  width: 100px;
}

.single5 {
     height: 50px;
     width: 50px;
     background-color: pink;
     -webkit-animation: single5 5s infinite linear;
     animation: single5 5s infinite linear;
  }

@-webkit-keyframes single5 {
   0% {
      -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
      background-color: #F4D03F;
   }
   25% {
      -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
      background-color: #52B3D9;
   }
   50% {
      -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
      background-color: #EC644B;
   }
   75% {
      -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
      background-color: #68C3A3;
   }
   100% {
      -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
      background-color: #F4D03F;
   }
}

@keyframes single5 {
   0% {
      transform: perspective(180px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(180px) rotateX(0deg) rotateY(0deg);
      background-color: #F4D03F;
   }
   25% {
      transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(180px) rotateX(-180.1deg) rotateY(0deg);
      background-color: #52B3D9;
   }
   50% {
      transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
      -webkit-transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
      background-color: #EC644B;
   }
   75% {
      transform: perspective(180px) rotateX(-180deg) rotateY(179.9deg);
      -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(179.9deg);
      background-color: #68C3A3;
   }
   100% {
      transform: perspective(180px) rotateX(0deg) rotateY(360deg);
      -webkit-transform: perspective(180px) rotateX(-360deg) rotateY(360deg);
      background-color: #F4D03F;
   }
}

#thumbnailImage{
  align-self: stretch;
  flex: 1 1 1;
  width: 10%;
  margin-left: 5%;
  border-radius: 5px;
}

#thumbnailImage img{
  width: 100%;
  border-radius: inherit;
}

.puzzle {
  flex: 1 1 1;
  display: table;
}

.row-box {
  display: table-row;
}

.col-box {
  display: table-cell;
  padding: 1px;
}

.img-box {
  width: 100px;
  height: 100px;
  border: 2px solid;
  border-radius: 10px;
}


canvas {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

button {

}

input[type ="file"] {

}

select {

}
