@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker&display=swap');

body {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  background-image: url("img/background.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5em;
  font-weight: bold;
}


.game {
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  background-size: calc(100% - 1px);
}
